
body {
    text-align: center;
    font-size: 30px;
    background-color: red;
}

h1 {
    font-size: 40px;
}



body {
    text-align: center;
    font-size: 20px;
    background-color: red;
}

h1 {
    font-size: 40px;
}

#cruelty-btn {
    background-color: transparent;
    border: none;
}

#cruelty-btn.klickad {
    transform: scale(0.9);
}